<!--Navigation bar-->
<nav class = "navbar navbar-dark bg-dark navbar-expand-sm">
  
  <a class = "navbar-brand" href = "#">
    <h4>ASXPortfolioManager</h4>
  </a>

  <div class = "navbar-nav ml-auto">

      <a class="nav-item nav-link" *ngIf="!loginService.checkUserLoggedIn()"  routerLink = "/login" routerLinkActive = "active">Login</a>
     
      <a class="nav-item nav-link" *ngIf="!loginService.checkUserLoggedIn()" routerLink = "/signUp" routerLinkActive = "active">Sign Up</a>

      <a class="nav-item nav-link" *ngIf="loginService.checkUserLoggedIn()" (click)="loginService.logOut()">Log Out</a>
      

  </div>

</nav>

<!--other component conatainer-->
<div class="container">
  <router-outlet></router-outlet>
</div>