<div class="container outerBox">

    <div class="container innerBox">

        <!--row 1-->
        <div class="row">

            <!--My portfolio card-->
            <div class="col-sm-8">

                <a  class="anchor" routerLink="/portfolio">
                    <div class="card bg-info text-white">
                        <div class="card-body">
                            <h4 class="cardText">
                                My Portfolio
                            </h4> 
                        </div>
                    </div>
                </a>

            </div>
       
        </div>

        <!--row 2-->
        <div class="row">

            <!--Add a Stock card-->
            <div class="col-sm-4">

                <a  class="anchor" routerLink="/addAStock">
                    <div class="card bg-secondary text-white">
                        <div class="card-body" >
                            <h4 class="cardText">
                                Add a Stock
                            </h4>
                        </div>
                    </div>
                </a>

            </div>
    
            <!--Sell a stock card-->
            <div class="col-sm-4">
                
                <a  class="anchor" routerLink="/sellAStock">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h4 class="cardText">
                                Sell a Stock
                            </h4>
                        </div>
                    </div> 
                </a>

            </div>
        </div>

    
    </div>
</div>
