.outerContainer{
    border:1px solid red;
    height: auto;
    width: 100%;
}

/*form*/
/*signUp container*/
#row_addStock{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    
}
/*signUp button*/
#addStock_Button{
    float: right;
}